<!DOCTYPE html>
<html>
  <head>
    <title>SalonDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= form_tag salons_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    <%= link_to "Salons", salons_path %>
    <%= yield %>
  </body>
</html>
